main {
    display: grid;
    grid-template-columns: 60% 40%;
}

section {
    display: grid;
    margin: auto;
}
article {
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 10px;
}

.tabela_crise {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 40px;
    background-color: rgb(33, 49, 100);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titulo_comunicacao {
    font-size: 25px;
    width: 25%;
    background-color: rgb(33, 49, 100);
    color: white;
}

.processo_comunicacao {
    font-size: 15px;
}

.bola_verde {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(21, 77, 21);
    margin: auto;
}

.bola_cinza {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(157, 158, 157);
    margin: auto;
}

.fim_processo {
    border-bottom-style: dashed;
}

td {
    padding: 5px;
}

.tabela_degradacao {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.informativo {
    padding: 10px;

}

.janela_informativo {
    border: 3px solid #000000;
    border-radius: 15px;
    width: 500px;

}

.titulo_informativo{
    text-align: center;
    background-color: rgb(33, 49, 100);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.espasamento_informativo {
    margin-top: 10px;
}

.botao_informativo {
    margin-top: 10px;
    margin-bottom: 5px;
}

.secao_informativo {
    position: absolute;
    justify-self: self-end;
    margin-right: 80px;

}

.popup{
    position: fixed;
    top: 10px; 
    left: 200px; right:200px;
    margin: auto;
    padding: 15px;
    border: solid 10px rgb(33, 49, 100);
    border-radius: 20px;
    background: #e9e9e9;
    display: none;
    text-align: left;
    box-shadow: 5px 5px 500px 800px rgba(1, 1, 17, 0.521);
}

.popup_informativo{
    position: fixed;
    top: 10px; 
    left: 200px; right:200px;
    width: 500px;
    margin: auto;
    padding: 15px;
    border: solid 10px rgb(33, 49, 100);
    border-radius: 20px;
    background: #e9e9e9;
    display: none;
    text-align: left;
    box-shadow: 5px 5px 500px 800px rgba(1, 1, 17, 0.521);
}

.corpo_mensagem {
    display: grid;
    grid-template-columns: 50% 50%; 
}

.corpo_mensagem_informativo {
    margin-top: 15px;
}

.fechar_informativo {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 10px;
    height: 10px;
    font-size: 20px;

}

.topo_inicial {
    display: flex;
}

.texto_pronto {
    border-left: 2px solid black;
    padding: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.botao {
    background-color: rgb(33, 49, 100);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    text-align: center;
    display: grid;
}

.botao:hover {
    background-color: rgb(86, 125, 255);
    transition: 0.5s;
}

.botao:active {
    background-color: rgb(31, 133, 0);
}

.alarme_pendente {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.alarme_pendente > div {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

#alarme_mudanca {
    display: none;
    padding: 5px;
}

#alarme_sem_impacto {
    padding: 5px;
    display: grid;
}

.mensagem_kaizala {
    align-items: center;
    text-align: -webkit-center;
    margin-top: 10px;
    margin-bottom: 5px;
}
