
/* Dados pessoais */

.foto_perfil {
    text-align: center;
}

.foto_pessoa {
    width: 200px;
    border-radius: 100px;
    border: 3px solid black;
}

.dado_pessoa {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
    vertical-align: middle;
    align-items: center;
    font-size: 20px;
}

.dados > h1 {
    font-size: 30px;
}

.dados > a {
    display: block;
    padding-left: 25px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}

/* Formação */

.formacao {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
}

.instituicoes {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 20px;
}

.instituicao {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    background-color: white;
}

.logo_formacao {
    width: 150px;
    padding: 5px;
    height: 150px;
}

/* Experiencia */

.experiencias {
    text-align: center;
    padding-top: 10px;
}

.carteira_trabalho {
    display: flex;
    justify-content: center;
}

.trabalho {
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    background-color: blanchedalmond;
}

.trabalho > h3 {
    font-size: 15px;
}

/* Cursos */

.cursos {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
}

.instituicoes_de_cursos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin: 20px;
    
}

.instituicao_curso {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    background-color: white;
}

.logo_curso {
    margin-top: 5px;
    width: 150px;
    height: 152px;
}

.botoes_cursos {
    display: inline-flex;
    text-align: center;
}

.botao_cursos {
    text-decoration: none;
    background-color: rgb(163, 160, 160);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
}

.botao_cursos:hover {
    border: 1px solid black;
}
