
/* Dados pessoais */

.foto_perfil {
    text-align: center;
}

.foto_pessoa {
    width: 200px;
    border-radius: 100px;
    border: 3px solid black;
}

.dado_pessoa {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
    vertical-align: middle;
    align-items: center;
    font-size: 20px;
}

.dados > h1 {
    font-size: 30px;
}

.dados > a {
    display: block;
    padding-left: 25px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}

/* Formação */

.formacao {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
}

.instituicoes {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 20px;
}

.instituicao {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    background-color: white;
}

.logo_formacao {
    width: 150px;
    padding: 5px;
    height: 150px;
}

/* Experiencia */

.experiencias {
    text-align: center;
    padding-top: 10px;
}

.carteira_trabalho {
    display: flex;
    justify-content: center;
}

.trabalho {
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    background-color: blanchedalmond;
}

.trabalho > h3 {
    font-size: 15px;
}

/* Cursos */

.cursos {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
}

.instituicoes_de_cursos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin: 20px;
    
}

.instituicao_curso {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    background-color: white;
}

.logo_curso {
    margin-top: 5px;
    width: 150px;
    height: 152px;
}

.botoes_cursos {
    display: inline-flex;
    text-align: center;
}

.botao_cursos {
    text-decoration: none;
    background-color: rgb(163, 160, 160);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
}

.botao_cursos:hover {
    border: 1px solid black;
}

/* carrosel */

.listaDeArtigos-artigo {
    text-align: left;
    padding-bottom: 2em;
    max-width: 200px;
    display: inline-block;
    white-space: normal;
  }      
  
  .listaDeArtigos {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .listaDeArtigos-item {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    display: none;
  }
  
  
  .listaDeArtigos-item:not(:target):first-child{
    display: inline-block;
  }
  
  .listaDeArtigos-item:target {
    display: inline-block;
  }
  
  
  
  
  .listaDeArtigos-artigo-img {
    width: 150px;
    display: block;
  }
  
  /* Apenas para diferenciar as imagens */
  
  .listaDeArtigos-item:nth-of-type(2) img {
    filter: sepia(.7)
  }
  
  .listaDeArtigos-item:nth-of-type(3) img {
    filter: hue-rotate(10deg) saturate(1)
  }
  
  .listaDeArtigos-artigo-titulo {
    font-family: 'Montserrat', sans-serif;
    margin: .7em 0;
    font-size: 1.2em;
  }
  
  .listaDeArtigos-artigo-link {
    color: #EB5757;
    font-weight: bold;
  }
  
  .listaDeArtigos-slider {
    width: 200px;
    margin: 0 auto;
  }
  
  .listaDeArtigos-slider li {
    display: inline-block;
  }
  
  .listaDeArtigos-slider-item {
    text-indent: -9999px;
    display: inline-block;
    overflow: hidden;
    background-color: #d4d4d4;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 0;
  }
  
  .listaDeArtigos-slider-item:hover,
  .listaDeArtigos-slider-item:focus {
    background-color: #a5a5a5;
    outline: 0;
  }
  
  .listaDeArtigos-slider-item--ativo {
    background: hsla(200, 70%, 0%, .6);
  }
  
