:root {
    --branco_texto: #FFFFFF;
    --cinza_secundario: #C0C0C0;
    --azul_botao: #167BF7;
    --cor_do_fundo: #00030C;
    --fone_inter: 'Inter';
    --azul_botao_efeito: #7bb6fd;
    --azul_botao_efeito_aperta: #034494;
}

body {
    background-color: var(--cor_do_fundo);
    color: var(--branco_texto);
    margin: 0px;
    padding: 0px;
    font-family: var(--fone_inter);
    font-size: 16px;
    height: 400px;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

.conjunto_principal {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 25px;
    width: 40%;
}
.secao_principal {
    display: block;
    justify-items: center;
    height: 500px;

}

.texto_principal {
    font-size: 25px;
    display: block;
}

.logo_combo {
    width: 300px;
    margin-bottom: 10px;
    margin-top: -20px;
    text-align: center;
}

.botao_assine_12x {
    background-color: var(--azul_botao);
    border-radius: 5px;
    border: 2px solid var(--azul_botao);
    width: 450px;
    padding: 15px;
    margin: 10px;
    color: var(--branco_texto);
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.botao_assine_12x:hover {
    background-color: var(--azul_botao_efeito);
    color: var(--cor_do_fundo);
}

.botao_assine_12x:active {
    background-color: var(--azul_botao_efeito_aperta);
}

.botao_assine_alura {
    border: 2px solid var(--cinza_secundario);
    background-color: #00030c00;
    border-radius: 5px;
    width: 450px;
    padding: 15px;
    margin: 10px;
    color: var(--cinza_secundario);
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.botao_assine_alura:hover {
    background-color: var(--cinza_secundario);
    color: var(--cor_do_fundo);
}

.botao_assine_alura:active {
    background-color: var(--branco_texto);
}

.letra_miuda {
    color: var(--cinza_secundario);
    font-size: 12px;
    display: block;
}

.conjunto_assista, .conjunto_baixar {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.conjunto_assista > div, .conjunto_baixar >div {
    display: block;
    padding: 25px;
}

.foto_assista, .foto_baixar {
    width: 550px;
    margin-left: 50px;
}

.texto_assista, .texto_baixar {
    margin-left: 25px;
}

.texto_assista > h2, .texto_baixar > h2 {
    font-size: 45px;
    padding-left: -10px;
}

.texto_assista > p, .texto_baixar > p {
    padding-right: 40px;
    padding-left: -10px;
    font-size: 15px;
}

.conjunto_combo {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.conjunto_combo > div {
    display: block;
    padding: 25px;
}

.foto_combo {
    width: 550px;
    margin-right: 50px;
}

.texto_combo {
    margin-left: 100px;
}

.texto_combo > p {
    padding-right: -10px;
    font-size: 15px;
}

.secao_dispositivos > h2 {
    font-size: 48px;
    text-align: center;
}

.conjunto_dispositivos {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.dispositivos {
    display: grid;
    justify-content: center;
    margin: 30px;
}

.imagem_dispositivo {
    color: aqua;
}

.div_texto {
    text-align: center;
    font-size: 32px;
    align-self: end;
}

.div_icone {
    align-items: center;
    align-self: end;
    display: flex;
    flex-direction: column;
}

footer {
    align-items: center;
    text-align: center;
    margin-top: 80px;
    color: var(--cinza_secundario);
}

footer > img {
    padding: 20px;
}

nav > a {
    color: var(--cinza_secundario);
    text-decoration: none;
    padding: 5px;
}

nav > a:hover {
    color: blue;
}

nav > a:active {
    color: yellow;
}

