body {
	margin: 0;
}

section {
	border: 3px solid black;
	border-radius: 10px;
	margin: 20px;
	width: 45%;
	box-shadow: 5px 5px 10px rgba(1, 1, 17, 0.664);
}

form {
	padding: 15px;
}

main {
	justify-content: center;
    	object-position: center;
	display: list-item;
	place-items: flex-end;
	padding-left: 400px;
}

.label {
	width: 200px:
	hight: 50px;
}

.botao {
	background-color: orange;
	border-radius: 10px;
	padding: 2% 15%;
	font-size: 20px;
	font-weight: bolt;
	color: black;
	border: none;
	transition: 1s background-color;
	cursor: pointer;
}

.botao:hover {
	background-color: red;
}

.form_inicio {
	width: 200px;
}

table {
	padding-left: 30px;
}